<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding posts</title>
</head>
<body>
    <h1>Add Posts</h1><br>
  <a href="/news" class="loginhere-link">Back to news</a><br>

<form action="/post" method="post">
<label for="">title:</label>
<input type="text" name="title" ><br><br>
<label for="">Content:</label>
<input type="text" name="content"><br><br>
<label for="">Posted_by:</label>
<input type="text" name="created_by"><br><br>

<input type="submit" value="Add Post">

</form>
</body>
</html>
